/* Add this CSS to your project's styles.css or a separate .css file */

/* Style the button container */
div {
    text-align: center;
    margin-top: 10px;
  }

  
  /* Style the play button */
  button {
    background-color: #0074d9; /* Change to your preferred background color */
    color: #fff; /* Text color */
    padding: 10px 20px;
    border: none;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    
  }
  
  /* Style the pause button */
  button.pause {
    background-color: #ffc107; /* Change to your preferred background color */
  }
  
  /* Style the stop button */
  button.stop {
    background-color: #d9534f; /* Change to your preferred background color */
  }
  
