/* 

body::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; 

  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
  filter: blur(5px); 
}



h1 {
  background-color: rgba(0, 0, 0, 0.7); 

  text-align: center;
  color: white;
  padding: 20px;
  margin: 0px;
}

h2 {
  text-align: center;
  color: rgb(4, 4, 4);
}

h4{
  text-align: center;
  color: rgb(4, 4, 4);
}

p {
  text-align: center;
  color: rgb(4, 4, 4);
}

nav {
  display: flex;
  padding: 5px;
  justify-content: space-between; 
  align-items: center;
  border-bottom: 2px solid #333;
}

.spacer {
  flex: 1;
}

.login_link,
.register_link,
.home_link {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  border: 1px solid #333;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.login_link{
  margin-right: 5px;
}

.login_link:hover,
.register_link:hover, .home_link:hover {
  background-color: #333;
  color: #f3f3f3;
}

.createBlogForm{
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.blogInput{
  width: 100%;

}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type = 'url'] {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #f3f3f3;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f3f3f3;
  color: #333;
}

.container{
  margin-top: 50px;
}


.card {
    background-color: rgba(255, 255, 255, 0.7);  
}


.testimonials{
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid #5e5c5c;
}

.testimonials h2 {
  margin-top: 10px;
}

.card-title{
  margin-top: 15px;
}

.blogHeading{
  color: #f3f3f3;
  margin-left: 5px;
}
 */


 /* App.css */

.app_body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent any unexpected horizontal scrolling */
}

/* Main container */
.app_div {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* ensures full page height */
}

/* Header styles */
.app-header {
  font-size: 2em;
  color: #333;
  margin-top: 20px;
}

/* Router container - giving some space for navigation and routes */
.router-container {
  width: 90%;
  max-width: 1200px;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  overflow: hidden; /* To make sure everything stays within the rounded corners */
}

